body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Slabo 27px', serif;
}

.background{
    background-color: crimson;
    max-width: 100%;
    
    margin: 0 auto;
    height: 80%;
}

.left-align{
    align-items: left;
    text-align: left;
    padding-left: 14px;
}

.delImg{
    height: 17px;
    width: auto;
}

.background .btn{
    background-color: white;
    border: 2px crimson solid;
    font-size: 150%;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Slabo 27px', serif;
    width: 20%;
}

caption {
    font-family: 'Oswald', sans-serif;
    background-color: crimson;
    caption-side: top;    
    font-size: 150%;
}

table{
    width: 100%;
    background: white;
    margin: 0 auto;
    height:100%;
    font-family: 'Slabo 27px', serif;
}

td {
    text-align: left;
}

li {
    list-style: none;
    text-align: left;
    font-size: 130%;
}

.name{
    font-size: 200%;
    margin-left: 2%;
    font-family: 'Slabo 27px', serif;
}

.names{
    font-size: 200%;
    margin-left: 2%;

    text-align: center;
}

.align{
    display:flex;
}

.top{
    background-color:crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tops{
    background-color:crimson;
    align-items: center;
}

.top li{
    display: inline;
    margin: 8px;
}

.about{
    grid-column:1/6;
    grid-row: 7/9;
    display:flex;
    flex-direction:row;

}

.about img{
    width: 300px;
    height:auto;
    margin: 10px 10px;
}

.about h1{
    font-family: 'Oswald', sans-serif;
    font-size: 140%;
}

.btn{
    background-color: white;
    border: 2px crimson solid;
    font-size: 150%;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Slabo 27px', serif;
    width: 100%;
}

.btn:hover {
    background-color: crimson;
    color: white;
}

.commentBtn{
    background-color: white;
    border: 2px crimson solid;
    font-size: 80%;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Slabo 27px', serif;
    width: 10%;
    margin-top :10px;
}

.commentBtn:hover {
    background-color: crimson;
    color: white;
}

.btnn{
    background-color: crimson;
    border: 2px white solid;
    font-size: 150%;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Slabo 27px', serif;
}

.btnn:hover {
    background-color: white;
    color: black;
}

.selectBtn{
    background-color: white;
    border: 2px crimson solid;
    font-size: 150%;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Slabo 27px', serif;
    width: 100%;
}

h1{
    margin: 0;
    padding: 0;
    border: 0;
    font-size : 250%;
    font-weight: 0;
    vertical-align: baseline;
    font-family: 'Slabo 27px', serif;
    text-align: center;
}

.time{
    font-size: 80%;
}

.content{
    font-size: 200%;
}

input[type=text], textarea{
    border: 2px crimson solid;
    width: 60%;
    font-size: 120%;
    border-radius:5px;
    margin: 0 auto;
    height: 80%;   
}

select{
    text-align: center;
    text-align-last: center;
}