body, div, header, footer, h1, h2, h3, h4, h5, h6, p, caption, figcaption, img, a, link{
    margin: 0;
    padding: 0;
    border: 0;
    font-size : 100%;
    font-weight: 0;
    vertical-align: baseline;
}